.task-item {
  background-color: #004369;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  padding: 8px 4px;
  color: white;
  font-size: 18px;
}
.select-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.task-item input[type="text"] {
  border: none;
  display: block;
  width: 100%;
}

.task-item select {
  display: block;
  width: 100%;
  margin-top: 8px;
}
