.tasklist {
  font-family: "Raleway", sans-serif;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 6px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #1b97fb;
  transition: background-color 0.3s;
}

.tasklist .btn:hover {
  cursor: pointer;
}

.tasklist .btn img {
  width: 16px;
  height: 14px;
  margin-right: 4px;
}
