.tasklist {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.tasklist .title {
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 6px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #db1f48;
  transition: background-color 0.3s;
}
.tasklist .btn:hover {
  cursor: pointer;
}

.tasklist .btn img {
  width: 18px;
  height: 16px;
  margin-right: 8px;
}
